.loader-body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  z-index: 10000;
  visibility: visible;
  top: 0;
  left: 0;
  text-align: center;
  justify-content: center;
  align-content: center;
  transition: 0.5s all;
  /* background-color: #000; */
  background: url(../images/ICONO_SOFT.png), #3B3E59;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-position: 50% 40%;
  background-size: 40%;
}
.loader {
  width: 70px;
  height: 70px;
  border: 3px rgba(114, 225, 40,0.1) solid;
  border-radius: 50%;
  position: absolute;
  border-top-color: #2899F3;
  /* background: linear-gradient(0deg, rgba(114, 225, 40,0.1) 33%, rgba(114, 225, 40,1) 100%); */
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  animation: spin .8s linear 0s infinite;
  /* -webkit-animation: 1s spin infinite linear;
  -o-animation: 1s spin infinite linear;
  animation: 1s spin infinite linear; */
}
.loader-body.done {
  visibility: hidden;
  opacity: 0;
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width: 768px) {
  .loader-body {
    background-size: 90%; /* Reducir el tamaño de la imagen de fondo en dispositivos móviles */
  }
}
